*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: non;
  font-family: 'Poppins', sans-serif;
}

 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #18181b;
}

/* Header  */

nav{
  height: 15vh;
  /* background-color: rgb(18, 18, 62); */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 3em;
  
}
ul{
  display: flex;
  gap: 70px;
}
ul li {
  list-style: none;
}
ul li a{
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 1em;
  letter-spacing: 2.5px;
  
}
ul li a:hover{
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.8ms ease-in-out;
}

ul li a::after{
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 0;
  bottom: -10px; 
  background-color: #1d4ed8;
  transition: all 0.3s ease;
}
ul li a:hover::after{
  width: 80%;
  
}

/* Hero section */

/* .hero{
  height: 800vh;
  background-color: red;
  box-shadow: 0 0 1000px 50px #1d4ed8;
  z-index: 100;

} */